/* modifications to bootstrap elements for preferential styling */
body {
    background-color: rgb(146, 238, 207);
}
.container {

    padding-top: 100px;
    /* background-color: rgb(252, 243, 169); */
}


.border {
    border-width: 15px;
    border-color: rgb(78, 90, 92);

}
 #quizDiv{
    display: none;
} 
#Q1{
    display: none;
}
#Q2{
    display: none;
}
#Q3{
    display: none;
}
#Q4{
    display: none;
}
#Q5{
    display: none;
}
#Q6{
    display: none;
}


