/* modifications to bootstrap elements for preferential styling */
body {
    background-color: rgb(146, 238, 207);
    font-family: 'Antic Slab', serif;
    font-size: larger;
}
.container {

    padding-top: 100px;
}


.questionSec {
    font-family: 'Itim', cursive;

}
 #quizDiv{
    display: none;
} 
#Q1{
    display: none;
}
#Q2{
    display: none;
}
#Q3{
    display: none;
}
#Q4{
    display: none;
}
#Q5{
    display: none;
}
#Q6{
    display: none;
}

a{
    color: #444444;

}
#scoreboard{
    background-color: aliceblue;
    border-style: dotted;
    border-color: blanchedalmond;
}